ul {
  list-style: none;
  padding: 0;
}

ul li {
  float:left;
}

a, a:hover {
  text-decoration: none;
}

textarea {
  resize: none;
  min-height: 120px;
}

.product-list li {
  float:none;
  display: inline-block;
}

.product-container {
  margin-bottom: 15px;
  padding: 15px;
}

.clo-container {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}


/* .select2-results__option{display: none;} */
