ul {
  list-style: none;
  padding: 0;
}

ul li {
  float:left;
}

a, a:hover {
  text-decoration: none;
}

textarea {
  resize: none;
  min-height: 120px;
}

.product-list li {
  float:none;
  display: inline-block;
}

.product-container {
  margin-bottom: 15px;
  padding: 15px;
}

.clo-container {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}


/* .select2-results__option{display: none;} */

/* SLIDES DE IMAGENES: Detalle del producto */

.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(0, 0, 0, 0.6);;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 16px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(240, 173, 78, 0.6);
  color: white;
}

.dot-active, .dot:hover {
  filter: opacity(.5);
}
