/* Normalization */
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------ BACKEND */


/* HEADER */
.header{
  background-color: #000;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 5px;
}

.logo img {
  height: 40px;
}

.vendor {
  display: flex;
  align-self: center;
}

.vendor ul li {
  float: left;
}

.login-register li{
  margin-left: 10px;
}

.login-register li a {
  color: #fff;
  padding: 6px;
}

.login-register li a:hover {
  background-color: #fff;
  color: #000;
}

/* FOOTER */
footer {
  background-color: #000;
  display: flex;
  justify-content: center;
}

footer p {
  padding: 20px;
  color: #fff;
  font-size: 12px;
}

/* BEFORE LOGIN */
.bf-lgn-background {
  background-image: url('/storage/closhop/fondo.png');
  background-size:cover;
  height:100vh;
}

.bf-lgn-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontent {
  width: 90%;
  background-color: rgba(255,255,255,.6);
  padding: 30px;
}

.lgn-reg-container{
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 45px;
}

.lgn-reg-container input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #e4e7ea;
  font-size: 14px;
  height: 38px;
  margin: 10px 0;
}

.lgn-reg-container input:focus {
    outline:none;
    border-bottom: 2px solid #FFC840;
}


.button {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  width: 100%;
  color: #fff;
  cursor: pointer;
}

.forgetpass {
  color: #000;
  font-size: 12px;
}
.forgetpass p {
  margin-top: 10px;
  text-align: center;
}


/* SIDEBAR */
.sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}


.sidebar a {
  color: #337ab7;
  padding: 15px;
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #e7e7e7;
}

.sidebar a:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,.6);
}

#wrapper {
  background-color: #f8f8f8;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
/**/


.user {
  color: #fff;
  padding: 18px;
  cursor: pointer;
}

.user:hover {
  background-color: rgba(100,100,100, .4);
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #edf1f5;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content li a {
  color: #000;
}


/* Mi cuenta: TABS */
.account {
  width:100%;
  padding: 50px;
  margin: 0 auto;
}

#tab1, #tab2, #tab3, #tab4, #tab5{
  display: none;
}

.account section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.label-tab {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.label-tab:hover {
  color: #f0ad4e;
  border-bottom: 2px solid #f0ad4e;
  cursor: pointer;
}

.account input:checked + .label-tab {
  color: #f0ad4e;
  border-bottom: 2px solid #f0ad4e;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
/****/

.clo-form {
  width: 100%;
  padding: 20px;
}

.clo-form input{
  border: none;
  border-bottom: 1px solid #e4e7ea;
  font-size: 14px;
  height: 38px;
  margin: 10px 0;
  width: 100%;
}

.clo-form input:focus {
    outline:none;
    border-bottom: 2px solid #FFC840;
}

.clo-form label {
  font-size: 12px;
  color: #bbb;
  display: block;
}

.middle {
  width: 49.5%;
  display: inline-block;
}
.onethird{
  width: 33%;
  display: inline-block;
}

.clo-form div{
  margin-bottom: 20px;
}

/************ MODAL ************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 576px) {
  .header-container {
    width: 90%;
    margin: auto;
  }

  .subcontent {
    max-width: 500px;
  }

  .w3-third{
    width:33.33333%
  }
}
